<div class="carousel">
  <!-- Sliding carousel, only show currentSlide -->
  <h2>Total slides: {{ this.slides.length }}</h2>
  <div id="carousel-slide" class="carousel-inner" *ngIf="currentSlides">
    <div class="carousel-items">
      <div class="carousel-item" *ngFor="let slide of this.previousSlides">
        <img [src]="slide.image" width="220px" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ slide.title }}</h5>
          <p>{{ slide.description }}</p>
        </div>
      </div>
    </div>


    <div class="carousel-items">
      <div class="carousel-item" *ngFor="let slide of this.currentSlides">
        <img [src]="slide.image" width="220px" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ slide.title }}</h5>
          <p>{{ slide.description }}</p>
        </div>
      </div>
    </div>

    <div class="carousel-items">
      <div class="carousel-item" *ngFor="let slide of this.nextSlides">
        <img [src]="slide.image" width="220px" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ slide.title }}</h5>
          <p>{{ slide.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Slide controls -->
  <div class="carousel-controls">
    <button class="carousel-control carousel-control-prev" [disabled]="!this.canSlide() || this.isAnimating" (click)="previous()"><fa-icon [icon]="faChevronLeft"></fa-icon></button>
    <button class="carousel-control carousel-control-next" [disabled]="!this.canSlide() || this.isAnimating" (click)="next()"><fa-icon [icon]="faChevronRight"></fa-icon></button>
  </div>
</div>
